
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

hr {
  margin: 10px auto;
}

.wrap {
  width: 100vw;
  height: 100vh;
}

.side_bar {
  float: left;
  width: 15%;
  height: 91vh;
  background: black;
  color: #696a67;
  position: relative;
}

.main {
  float: left;
  width: 85%;
  height: 91vh;
  background: yellow;
}

.navi div {
  margin: 32px 0 ;
}

.side_items a, .bottom_items a, .main_top div a {
  margin-left: 20px;
  text-decoration: none;
  color: #696a67;
}

#selected {
  color: #1db954;
}

.side_items a:hover, .bottom_items a:hover, .main_top div a:hover {
  color: white;
}

.side_items a:active, .bottom_items a:active, .bottom_items:last-child a:active {
  color: #1db954;
}

.side_items a i, .bottom_items a i {
  margin-right: 10px;
}

.logo img {
  width: 125px;
}

.playlist h3, .playlist div {
  font-size: 14px;
  margin-left: 20px;
}

.playlist div {
  margin: 10px 20px;
}

.side_bar_bottom_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.side_bar_bottom {
  width: 80%;
}

.bottom_items a {
  font-size: 15px;
  font-weight: 700;
}

.bottom_items:last-child a {
  color: white;
}

.main {
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient( #2f393a , #080a07);
  background-image: linear-gradient(rgb(47, 57, 58), rgb(8, 10, 7));
}

.main_top {
  display: flex;
  justify-content: center;
}

.main_top div a, .daily a, .player a, .icon_player_left a {
  text-decoration: none;
}

.main_top div {
  margin: 50px 20px;
  font-size: 13px;
  font-weight: 700;
}

.main_top div a:active {
  border-bottom: 2px solid #1db954;
}

.main_top div:first-child {
  position: relative;
}

.main_top_items hr {
  position: absolute;
  left: 49px;
  top: 7px;
  width: 25%;
  height: 2px;
  color: #1db954;
  background-color: #1db954;
  border: none;
}

.main_title h1 {
  font-size: 35px;
  color: white;
  font-weight: 700;
  margin-bottom: 40px;
  margin-left: 10px;
}

.daily_mix {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.daily {
  width: 190px;
}

.daily img {
  width: 190px;
  height: 190px;
}

.daily a h4, .text_player_left a h4 {
  font-size: 13px;
  color: white;
}

.daily p {
  font-size: 13px;
  color: #696a67;
}

.player {
  display: flex;
  width: 100%;
  height: 9vh;
  padding: 10px;
  background-color: rgb(40, 40, 40);
}

.player_left {
  width: calc(100% / 3);
  position: relative;
}

.player_left img {
  height: 40px;
  float: left;
}

.text_player_left {
  float: left;
  margin-left: 10px;
}

.text_player_left a h4 {
  margin-bottom: 0px;
}

.text_player_left span a {
  font-size: 11px;
  color: #696a67;
}

.icon_player_left{
  height: 100%;
  float: left;
  margin: 10px;
}

.icon_player_left a {
  position: absolute;
  top: 70%;
  transform: translateY(-70%);
  color: #696a67;
}

.player_center {
  width: calc(100% / 3);
}

.command {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.command i {
  color: white;
}
